sp:
  user-service:
    users: "[{\"id\":7, \"username\":\"abc\",\"password\":\"123\"},{\"id\":8, \"username\":\"def\",\"password\":\"456\"},{\"id\":9, \"username\":\"ghi\",\"password\":\"789\"}]"

spring:
  rabbitmq:
    host: 192.168.136.134
    port: 5672
    username: admin
    password: admin
  application:
    name: user-service
    
server:
  port: 8101

  
  
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:2001/eureka, http://127.0.0.1:2002/eureka

management:
  endpoints:
    web:
      exposure:
        include: refresh
